@model IEnumerable<PendingRequestDto>

<section class="container-fluid">
    <div id="HomePage-Container" class="row HomePage-Container">
        <vc:side-menu room-type="" />
        <div class="col text-white bg-dark border-top border-right border-info PendingList-Container overflow-auto">
            <div id="PendingReqList" class="row list-group">
                @foreach (var pendingRequest in Model)
                {
                <form asp-controller="Home" asp-action="AcceptPendingRequest" data-ajax="true"
                      data-ajax-complete="RequestPosted"
                      class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10 list-group-item list-group-item-dark m-auto mt-5" method="post">
                    <input type="hidden" name="PendingRequestId" value="@pendingRequest.PendingRequestId" />
                    <input type="hidden" name="SenderId" value="@pendingRequest.SenderId" />
                    <input type="hidden" name="ReceiverId" value="@pendingRequest.ReceiverId" />
                    <input type="hidden" name="ChatType" value="@pendingRequest.ChatType" />

                    <span class="text-dark h6">
                        Sender: @pendingRequest.SenderName
                    </span>
                    <p class="h5 font-weight-bold text-center">
                        @pendingRequest.ChatType chat
                    </p>
                    <button name="Action" value="Decline" type="submit" class="btn bg-warning float-right p-2 ml-2">
                        <i class="bi bi-envelope-slash-fill text-center h5"></i>
                    </button>
                    <button name="Action" value="Accept" type="submit" class="btn bg-info float-right p-2 ml-1">
                        <i class="bi bi-envelope-plus-fill text-center h5"></i>
                    </button>
                </form>
                }
            </div>
        </div>
        <partial name="ActivityMenuPartial" />
    </div>
</section>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $("document").ready(() => {

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub").build();

        connection.start().then(() => {

            connection.on("PendingRequestReceived", (message) => {

                console.log(message);

                var formElement = document.createElement("form");
                formElement.setAttribute("action", "/Home/AcceptPendingRequest");
                formElement.setAttribute("data-ajax", "true");
                formElement.setAttribute("data-ajax-complete", "RequestPosted");
                formElement.setAttribute("method", "post");
                formElement.setAttribute("class",
                    "col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10 list-group-item list-group-item-dark m-auto mt-5");

                var reqId = document.createElement("input");
                var senderId = document.createElement("input");
                var receiverId = document.createElement("input");
                var chatType = document.createElement("input");

                reqId.setAttribute("type", "hidden");
                reqId.setAttribute("name", "PendingRequestId");
                reqId.setAttribute("value", message.pendingRequestId);

                senderId.setAttribute("type", "hidden");
                senderId.setAttribute("name", "SenderId");
                senderId.setAttribute("value", message.senderId);

                receiverId.setAttribute("type", "hidden");
                receiverId.setAttribute("name", "ReceiverId");
                receiverId.setAttribute("value", message.receiverId);

                chatType.setAttribute("type", "hidden");
                chatType.setAttribute("name", "ChatType");
                chatType.setAttribute("value", message.chatType);

                var span = document.createElement("span");
                span.textContent = `Sender: ${message.senderName}`;
                span.setAttribute("class", "text-dark h6");

                var p = document.createElement("p");
                p.textContent = message.chatType + " chat";
                p.setAttribute("class", "h5 font-weight-bold text-center");

                var AcceptBtn = document.createElement("button");
                AcceptBtn.innerHTML = `<i class="bi bi-envelope-slash-fill text-center h5"></i>`;
                AcceptBtn.setAttribute("class", "btn bg-warning float-right p-2 ml-2");
                AcceptBtn.setAttribute("name", "Action");
                AcceptBtn.setAttribute("value", "Decline");
                AcceptBtn.setAttribute("type", "submit");

                var DeclineBtn = document.createElement("button");
                DeclineBtn.innerHTML = `<i class="bi bi-envelope-plus-fill text-center h5"></i>`;
                DeclineBtn.setAttribute("class", "btn bg-info float-right p-2 ml-1");
                DeclineBtn.setAttribute("name", "Action");
                DeclineBtn.setAttribute("value", "Accept");
                DeclineBtn.setAttribute("type", "submit");

                formElement.appendChild(reqId);
                formElement.appendChild(senderId);
                formElement.appendChild(receiverId);
                formElement.appendChild(chatType);
                formElement.appendChild(span);
                formElement.appendChild(p);
                formElement.appendChild(AcceptBtn);
                formElement.appendChild(DeclineBtn);

                document.getElementById("PendingReqList").appendChild(formElement);
            });

        }).catch(function (err) {
            return console.error(err.toString());
        });

        RequestPosted = function (xhr) {
            console.log("form posted", xhr.responseJSON);

            if (xhr.responseJSON.action == "Decline") {

                $.ajax({
                    type: 'POST',
                    url: '/Home/DeletePendingRequest',
                    data: {
                        "requestDto": xhr.responseJSON
                    },
                    success: function (response) {
                        window.location.replace(response.redirectUrl);
                    },
                    failure: function (response) {
                        console.log("Fail", response);
                    },
                    error: function (response) {
                        console.log("Error", response);
                    }
                });

            } else {
                if (xhr.responseJSON.chatType == "Private") {
                    $.ajax({
                        type: 'POST',
                        url: '/Chat/CreatePrivateChat',
                        data: {
                            "requestDto": xhr.responseJSON
                        },
                        success: function (response) {
                            window.location.replace(response.redirectUrl);
                        },
                        failure: function (response) {
                            console.log("Fail", response);
                        },
                        error: function (response) {
                            console.log("Error", response);
                        }
                    });
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/Group/JoinGroup',
                        data: {
                            "requestDto": xhr.responseJSON
                        },
                        success: function (response) {
                           window.location.replace(response.redirectUrl);
                        },
                        failure: function (response) {
                            console.log("Fail", response);
                        },
                        error: function (response) {
                            console.log("Error", response);
                        }
                    });
                }
            }
        }


    });

</script>